/* Style for the TextBoxes */
input[type="text"], textarea {
    background-color: #F2F2F2; /* Light grey background */
    color: #333333; /* Dark text color for contrast */
    border: 2px solid #CDEEFF; /* Border color similar to the button */
    padding: 10px; /* Comfortable padding */
    border-radius: 15px; /* Rounded corners */
    font-size: 16px; /* Readable text size */
    width: 100%; /* Full width */
}

    input[type="text"]:focus, textarea:focus {
        outline: none; /* Removes default focus outline */
        border-color: #A4D4EF; /* Slightly darker border color on focus */
        box-shadow: 0 0 5px #A4D4EF; /* Subtle shadow to highlight focus */
    }

/* Style for table rows and cells containing textboxes */
table.auto-style2 tr {
    margin-bottom: 10px; /* Adds space between rows */
}

table.auto-style2 td {
    padding: 5px; /* Adds padding within each cell */
}
/* Style for the Form Buttons */
.form-button {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    background-color: #CDEEFF;
    color: black;
    cursor: pointer;
    font-size: 1em;
    outline: none;
    transition: background-color 0.3s;
}


    .form-button:hover {
        box-shadow: 1px 1px 20px 5px #CDEEFF;
    }

    .form-button:focus {
        border: 2px solid #2c2c54;
    }


.file-label {
    display: inline-block;
    margin-left: 10px;
    font-size: 1em;
    color: #333;
}

/* Centering and Padding for content-container */
.content-container {
    color: white;
    padding: 50px 100%;
    background: #080636;
}

/* Additional Styling */
.auto-style2 {
    height: 82vh;
    padding: 5%;
    background: #080636;
    box-shadow: 1px 1px 20px 5px #CDEEFF;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: start;
    width: 100vh;
}

* {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
